<p id="notice"><%= notice %></p>

<p>
  <% low_neighbor = @parking_registration.neighbors.first %>
  <% high_neighbor = @parking_registration.neighbors.last %>

  <%= "Low neighbor: #{low_neighbor.first_name}" if low_neighbor %>
  <%= "High neighbor: #{high_neighbor.first_name}" if high_neighbor %>
  <%= "You have no neighbors" if low_neighbor.nil? and high_neighbor.nil? %>
</p>

<p>
  <strong>Name:</strong>
  <%= @parking_registration.first_name %>
  <%= @parking_registration.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @parking_registration.email %>
</p>

<p>
  <strong>Spot number:</strong>
  <%= @parking_registration.spot_number %>
</p>

<p>
  <strong>Parked on:</strong>
  <%= @parking_registration.parked_on %>
</p>

<%= link_to 'Edit', edit_parking_registration_path(@parking_registration) %> |
<%= link_to 'Back', parking_registrations_path %>
